.DS_Store
.idea
.history
.vscode
paper/
projects/
tutorial/


/output/
!/output/.gitignore
/downloads/
!/downloads/.gitignore


/data/*
!/data/cache/
!/data/models

scripts/*.py
!scripts/*.example.py

__pycache__/