
.DS_Store
.idea
.history
.vscode
paper/
projects/
tutorial/

eval_caltech/code3.2.1/
eval_caltech/toolbox/
eval_caltech/ResultsEval/


/output/
!/output/.gitignore
/downloads/
!/downloads/.gitignore


/data/*
!/data/cache/
!/data/models

scripts/upload_output_result.py